{{!-- routes list --}}
<div class="list-group-item">
    <a href="/group/{{ vanGroup_ID }}">Van #{{ vanGroup_ID }}: {{ pickup_point }} to Large Company 1</a>
    <button class="join-group-btn btn btn-success" data-groupID="{{ vanGroup_ID }}" data-pickupPoint="{{ pickup_point }}">Join</button>
</div>